@import '../../styles/base.scss';
@import '../../styles/form.scss';


.editFormTitle {
  font-size: $font-size-large;
}

.newListing {
  @include listingForm;

  fieldset {
    @include fieldSet;
    width: 100%;
  }

  input {
    @include input;
    width: 100%;
    }
}

.buttonsContainer {
  text-align: right;

  button:first-child {
    padding: $text-padding;
    margin: 0 1em;
  }

  button:last-child {
    padding: $text-padding;
  }
}

.button {
  @include button;
}

.confirm {
  @include confirm;
}

.cancel {
  @include cancel;
}

.error {
  @include error;
}

@media (max-width: $breakpoint-mobile) {
  .newListing {
    fieldset {
      width: 100%;
      margin-right: 0;
      margin-bottom: 0.5rem;
    }
  }

  .confirm, 
  .cancel {
    width: 100%;
  }

  .buttonsContainer button.button.cancel {
    margin: 1em 0;
  }
}
