@import '../../../styles/base.scss';

.spinner {
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  margin: 0 auto;
  height: 75px;
  width: 75px;
  animation: rotate 0.8s infinite linear;
  border: 6px solid $color-contrast;
  border-right-color: transparent;
  border-radius: 50%;
}
  
@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}