@import '../../styles/base.scss';

.listingItem {
  float: left;
  width: 48%;
  margin-right: 4%;
  margin-bottom: 2rem;
  border: 1px solid $color-border;
  background: $color-card-background;
  padding: $padding-medium;
  border-radius: $border-radius;
  line-height: $line-height-large;
  /* smooth box shadow transition */
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  h2, h3 {
    color: $color-body;
  }
  h3 {
    font-size: $font-size-small;
  }
  &:nth-child(even) {
    margin-right: 0;
  }
  /* smooth box shadow transition */
  &::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &:hover::after {
    opacity: 1;
  }
}

@media (max-width: $breakpoint-mobile) {
  .listingItem {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}