@import '../../styles/base.scss';
@import '../../styles/form.scss';

.newListing {
  @include listingForm;
  
  fieldset {
    @include fieldSet;
    width: 80%;
  }

  input {
    @include input;

    &:first-child {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      border-right: 0;
      width: 30%;
    }

    &:last-child {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      width: 70%;
    }
  }
}

.button {
  @include button;
}

.create {
  @include create;
}

@media (max-width: $breakpoint-mobile) {
  .newListing {
    fieldset {
      width: 100%;
      margin-right: 0;
      margin-bottom: 0.5rem;
    }
  }

  .create {
    width: 100%;
  }
}
