@import 'reset';

$base-font-size: 16px;

$color-body: #808080;
$color-border: #DDD;
$color-hover-border: #CCC;
$color-contrast: #4E92DF;
$color-overlay: rgba(0,0,0,0.5);
$color-danger: #b71c1c;
$color-card-background: #fff;

$ff-base: #{'Open Sans', sans-serif};

$font-weight-light: 300;
$font-weight-normal: 400;

$font-size-primary: 1rem;
$font-size-secondary: 0.875rem;
$font-size-small: 0.75rem;

$line-height-standard: 1.5rem;
$line-height-large: 2rem;

$padding-medium: 0.75rem;

$border-radius: 4px;

$z-alpha: 10;
$z-beta: 100;
$z-charlie: 1000;

$breakpoint-mobile: 450px;

html {
  background-color: #F4F4F4;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.3;
}

* {
  box-sizing: border-box;
}
