@import './base.scss';


@mixin listingForm {
  margin-bottom: 1rem;
  width: 100%;
}

@mixin fieldSet {
  border: 0;
  display: inline-block;
  margin: 0;
  margin-right: 3%;
  padding: 0;
}

@mixin input {
  border: 1px solid $color-border;
  font-size: 1rem;
  font-weight: $font-weight-light;
  margin: 1em 0;
  padding: $text-padding;

  &:placeholder {
    color: $color-body;
  }

  &:focus {
    outline: none;
  }
}

@mixin button {
  border: 0;
  border-radius: $border-radius;
  color: #FFF;
  display: inline-block;
  font-size: 1rem;
  font-weight: $font-weight-normal;
  text-transform: uppercase;
  padding: $text-padding 0 $text-padding 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }

}

@mixin create {
  background-color: $color-contrast;
}

@mixin cancel {
  background-color: $color-cancel;
}

@mixin error {
  color: $color-danger;
  font-size: $font-size-secondary;
  animation: slideup .3s;
}

@media (max-width: $breakpoint-mobile) {
  .newListing {
    fieldset {
      width: 100%;
      margin-right: 0;
      margin-bottom: 0.5rem;
    }
  }

  .create {
    width: 100%;
  }
}

@keyframes slideup {
  0% { 
    transform: translateY(30%);
    opacity: 0; 
  }
  100% { 
    transform: translateY(0);
    opacity: 1; 
  }
}