@import '../../../styles/base.scss';

// The gray background
.modalBackDrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  padding: 50px;
  z-index: 999999;
}

// The modal window
.modal {
  position: relative;
  background-color: #fff;
  border-radius: $border-radius;
  max-width: 500px;
  min-height: 300px;
  margin: 0 auto;
  padding: 30px;
  animation: slideInFromLeft .5s;
  
}

// X on the top right that closes the modal
.modalClose {
  font-size: 1.5em;
  font-weight: 600;
  color: $color-cancel;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}