@import '../../../styles/base.scss';



// The gray background
.modalBackDrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  padding: 50px;
  z-index: 999999;
}

// The modal window
.modal {
  position: relative;
  background-color: #fff;
  border-radius: $border-radius;
  max-width: 500px;
  min-height: 300px;
  margin: 0 auto;
  padding: 30px;
  animation: slideInFromLeft .5s;
  
}

// X on the top right that closes the modal
.modalClose {
  font-size: 2em;
  font-weight: 600;
  color: $color-cancel;
  position: absolute;
  top: 0;
  right: 5px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

// .modal-active {
//   overflow: hidden;
// }

// .modalContainer {
//   position:fixed;
//   display:table;
//   height:100%;
//   width:100%;
//   top:0;
//   left:0;
//   transform:scale(0);
//   z-index:1;
//   &.two {
//     transform:scale(1);
//     .modalBackground {
//       background:rgba(0,0,0,.0);
//       animation: fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
//       .modal {
//         opacity:0;
//         animation: scaleUp .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
//       }
//     }
//     + .content {
//       animation: scaleBack .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
//     }
//     &.out {
//       animation: quickScaleDown 0s .5s linear forwards;
//       .modalBackground {
//         animation: fadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
//         .modal {
//            animation: scaleDown .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
//         }
//       }
//       + .content {
//         animation: scaleForward .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
//       }
//     }
//   }
 
//   .modalBackground {
//     display:table-cell;
//     background:rgba(0,0,0,.8);
//     text-align:center;
//     vertical-align:middle;
//     .modal {
//       background:white;
//       padding:50px;
//       display:inline-block;
//       border-radius:3px;
//       font-weight:300;
//       position:relative;
//     }
//   }
// }


// @keyframes fadeIn {
//   0% {
//     background:rgba(0,0,0,.0);
//   }
//   100% {
//     background:rgba(0,0,0,.7);
//   }
// }

// @keyframes fadeOut {
//   0% {
//     background:rgba(0,0,0,.7);
//   }
//   100% {
//     background:rgba(0,0,0,.0);
//   }
// }

// @keyframes scaleUp {
//   0% {
//     transform:scale(.8) translateY(1000px);
//     opacity:0;
//   }
//   100% {
//     transform:scale(1) translateY(0px);
//     opacity:1;
//   }
// }

// @keyframes scaleDown {
//   0% {
//     transform:scale(1) translateY(0px);
//     opacity:1;
//   }
//   100% {
//     transform:scale(.8) translateY(1000px);
//     opacity:0;
//   }
// }

// @keyframes scaleBack {
//   0% {
//     transform:scale(1);
//   }
//   100% {
//     transform:scale(.85);
//   }
// }

// @keyframes scaleForward {
//   0% {
//     transform:scale(.85);
//   }
//   100% {
//     transform:scale(1);
//   }
// }

// @keyframes quickScaleDown {
//   0% {
//     transform:scale(1);
//   }
//   99.9% {
//     transform:scale(1);
//   }
//   100% {
//     transform:scale(0);
//   }
// }

